// Variables
$primary-color: #5a67d8;
$primary-hover: #434190;
$background-color: #f4f4f4;
$border-radius: 5px;
$input-padding: 10px;
$font-color: #333;

// Global Styles
body {
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;
  color: $font-color;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

// Headings
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

// Forms
form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;

  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: $input-padding;
    margin-bottom: 15px;
    border-radius: $border-radius;
    border: 1px solid #ccc;
  }
}

// Buttons
button {
  background-color: $primary-color;
  color: white;
  padding: 10px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    background-color: $primary-hover;
  }
}

// Drop Zone
#drop-zone {
  width: 900px;
  height: 500px;
  border: 2px dashed #ccc;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  &.highlight {
    background-color: lighten($background-color, 10%);
    border-color: $primary-color;
  }

  p {
    color: #888;
  }
}

// Error Messages
#error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

.preview-slide {
  margin-bottom: 100px;
}

.presenter-container {
  position: absolute;
  padding: 10px 20px;
  bottom: 50px;
  right: 50px;
  background: #00000090;
}

.slide-preview {
  width: 1024px;
  height: 768px;
  border: 2px solid blue;
  position: relative;
  overflow: hidden;
  z-index: 0;

  img {
    width: 420px;
    animation: slideImageAppears 0.5s 2s ease-out forwards;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    scale: 2;
    translate: 0 -20px;
    position: absolute;
  }
}

.event-name-container {
  display: flex;
  justify-content: space-between; /* Distribute the event names evenly */
  width: 100%; /* Full width */
  position: absolute;
  top: -40px;
  left: 0;
  line-height: 0.8;
  right: 0;
  font-weight: 800;
  scale: 1.1;
  flex-wrap: nowrap; /* Prevent wrapping, let it overflow */
  gap: 5px;
  overflow: visible;
  z-index: -10;
}

[class^="event-name"] {
  font-size: 250px;
  font-weight: 800;
  white-space: nowrap; /* Prevent the words from breaking or wrapping */
  display: block;
  overflow: visible;
  position: relative;
  letter-spacing: -15.3px; 
  opacity: 0.45;
  text-transform: uppercase;
}

.slide-image {
  width: 400px;
}

.event-name-1 {
  translate: -150%;
  animation: eventNameAnimationOne ease-out forwards;
}

.event-name-2 {
  translate: -30%;
  animation: eventNameAnimationTwo ease-out forwards;
}

.event-name-3 {
  translate: -250%;
  animation: eventNameAnimationThree ease-out forwards;
}

.event-name-4 {
  translate: -75%;
  animation: eventNameAnimationFour ease-out forwards;
}

.event-name-1,
.event-name-2,
.event-name-3,
.event-name-4 {
  animation-duration: 2.5s;
}

.presenter-container {
  position: absolute;
  animation: presenterContainer 1s 1s ease-out forwards;
  opacity: 0;
}

@keyframes slideImageAppears {
  from {
    opacity: 0;
    translate: 0 120px;
  } to {
    opacity: 1;
    translate: 0 -50px;
  }
}

@keyframes presenterContainer {
  0% {
    translate: 0;
    opacity: 0;
  } 90% {
    opacity: 0;
  } 100% {
    opacity: inherit;
  }
}

@keyframes eventNameAnimationOne {
  0% {
    opacity: 0;
  }
   100% {
    translate: -30%;
    opacity: inherit;
  }
}

@keyframes eventNameAnimationTwo {
  from {
    translate: 20%;
    opacity: 0;
  } 100% {
    opacity: inherit;
    translate: -120%;
  }
}

@keyframes eventNameAnimationThree {
  from {
    opacity: 0;
  } 100% {
    opacity: inherit;
    translate: -170%;
  }
}

@keyframes eventNameAnimationFour {
  from {
    translate: 80px;
    opacity: 0;
  } 100% {
    translate: -300%;
    opacity: inherit;
  }
}