doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Slide Alchemy - Creating...
    link(rel="stylesheet" href="/css/styles.css")
  body
    h1 Creating...
    div
      p Please wait while your slide is being generated.
      div.progress-bar
        div.progress-bar-fill(style="width: 50%") 50%
