doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Slide Alchemy - Uploa Your Image
    link(rel="stylesheet" href="/css/styles.css")
  body
    .main-container
      h1 Upload Your Speaker Image

      #drop-zone
        .drop-zone__icons
          img(src="/imgs/jpg-icon.svg" alt="JPG Icon")
          img(src="/imgs/png-icon.svg" alt="JPG Icon")
        p Drag image in (Recommended size)

      form(action="/upload" method="POST" enctype="multipart/form-data")
        input(type="file" name="image" id="file-input")

      p#error-message

    script(src="/js/main.js")
